/* body {
  margin: 0;
  padding: 0;
  // background: #000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.fireworks {
  position: relative; }

.fireworks > .before, .fireworks > .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.fireworks > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  to {
    box-shadow: 16px -28.33333px #ff009d, -1px -54.33333px #ff2600, 29px -62.33333px #ff001e, -26px -6.33333px #9900ff, -32px -43.33333px #d5ff00, 22px -72.33333px #ffc800, 35px -39.33333px #d000ff, -28px 9.66667px #0033ff, -19px -51.33333px #0022ff, 42px -53.33333px #00b7ff, -30px -21.33333px #00fff7, 49px 2.66667px #c8ff00, 37px -21.33333px #00ffcc, -2px -48.33333px #aa00ff, -40px 11.66667px #ccff00, 31px -31.33333px #bfff00, -45px 10.66667px #00e1ff, -10px -76.33333px #6200ff, 13px -21.33333px #ffae00, -23px -51.33333px #00ff48, 19px -80.33333px #ff4400, -17px -72.33333px #ff0084, -23px 9.66667px #006aff, 30px -76.33333px #ff4400, -3px -28.33333px #09ff00, -36px -21.33333px #09ff00, -10px -39.33333px #00e6ff, -19px -8.33333px #c8ff00, 48px -62.33333px #8800ff, 19px -20.33333px #ff00c8, 24px -75.33333px #ffee00; } }

@-moz-keyframes bang {
  to {
    box-shadow: 16px -28.33333px #ff009d, -1px -54.33333px #ff2600, 29px -62.33333px #ff001e, -26px -6.33333px #9900ff, -32px -43.33333px #d5ff00, 22px -72.33333px #ffc800, 35px -39.33333px #d000ff, -28px 9.66667px #0033ff, -19px -51.33333px #0022ff, 42px -53.33333px #00b7ff, -30px -21.33333px #00fff7, 49px 2.66667px #c8ff00, 37px -21.33333px #00ffcc, -2px -48.33333px #aa00ff, -40px 11.66667px #ccff00, 31px -31.33333px #bfff00, -45px 10.66667px #00e1ff, -10px -76.33333px #6200ff, 13px -21.33333px #ffae00, -23px -51.33333px #00ff48, 19px -80.33333px #ff4400, -17px -72.33333px #ff0084, -23px 9.66667px #006aff, 30px -76.33333px #ff4400, -3px -28.33333px #09ff00, -36px -21.33333px #09ff00, -10px -39.33333px #00e6ff, -19px -8.33333px #c8ff00, 48px -62.33333px #8800ff, 19px -20.33333px #ff00c8, 24px -75.33333px #ffee00; } }

@-o-keyframes bang {
  to {
    box-shadow: 16px -28.33333px #ff009d, -1px -54.33333px #ff2600, 29px -62.33333px #ff001e, -26px -6.33333px #9900ff, -32px -43.33333px #d5ff00, 22px -72.33333px #ffc800, 35px -39.33333px #d000ff, -28px 9.66667px #0033ff, -19px -51.33333px #0022ff, 42px -53.33333px #00b7ff, -30px -21.33333px #00fff7, 49px 2.66667px #c8ff00, 37px -21.33333px #00ffcc, -2px -48.33333px #aa00ff, -40px 11.66667px #ccff00, 31px -31.33333px #bfff00, -45px 10.66667px #00e1ff, -10px -76.33333px #6200ff, 13px -21.33333px #ffae00, -23px -51.33333px #00ff48, 19px -80.33333px #ff4400, -17px -72.33333px #ff0084, -23px 9.66667px #006aff, 30px -76.33333px #ff4400, -3px -28.33333px #09ff00, -36px -21.33333px #09ff00, -10px -39.33333px #00e6ff, -19px -8.33333px #c8ff00, 48px -62.33333px #8800ff, 19px -20.33333px #ff00c8, 24px -75.33333px #ffee00; } }

@-ms-keyframes bang {
  to {
    box-shadow: 16px -28.33333px #ff009d, -1px -54.33333px #ff2600, 29px -62.33333px #ff001e, -26px -6.33333px #9900ff, -32px -43.33333px #d5ff00, 22px -72.33333px #ffc800, 35px -39.33333px #d000ff, -28px 9.66667px #0033ff, -19px -51.33333px #0022ff, 42px -53.33333px #00b7ff, -30px -21.33333px #00fff7, 49px 2.66667px #c8ff00, 37px -21.33333px #00ffcc, -2px -48.33333px #aa00ff, -40px 11.66667px #ccff00, 31px -31.33333px #bfff00, -45px 10.66667px #00e1ff, -10px -76.33333px #6200ff, 13px -21.33333px #ffae00, -23px -51.33333px #00ff48, 19px -80.33333px #ff4400, -17px -72.33333px #ff0084, -23px 9.66667px #006aff, 30px -76.33333px #ff4400, -3px -28.33333px #09ff00, -36px -21.33333px #09ff00, -10px -39.33333px #00e6ff, -19px -8.33333px #c8ff00, 48px -62.33333px #8800ff, 19px -20.33333px #ff00c8, 24px -75.33333px #ffee00; } }

@keyframes bang {
  to {
    box-shadow: 16px -28.33333px #ff009d, -1px -54.33333px #ff2600, 29px -62.33333px #ff001e, -26px -6.33333px #9900ff, -32px -43.33333px #d5ff00, 22px -72.33333px #ffc800, 35px -39.33333px #d000ff, -28px 9.66667px #0033ff, -19px -51.33333px #0022ff, 42px -53.33333px #00b7ff, -30px -21.33333px #00fff7, 49px 2.66667px #c8ff00, 37px -21.33333px #00ffcc, -2px -48.33333px #aa00ff, -40px 11.66667px #ccff00, 31px -31.33333px #bfff00, -45px 10.66667px #00e1ff, -10px -76.33333px #6200ff, 13px -21.33333px #ffae00, -23px -51.33333px #00ff48, 19px -80.33333px #ff4400, -17px -72.33333px #ff0084, -23px 9.66667px #006aff, 30px -76.33333px #ff4400, -3px -28.33333px #09ff00, -36px -21.33333px #09ff00, -10px -39.33333px #00e6ff, -19px -8.33333px #c8ff00, 48px -62.33333px #8800ff, 19px -20.33333px #ff00c8, 24px -75.33333px #ffee00; } }

@-webkit-keyframes gravity {
  to {
    transform: translateY(50px);
    -moz-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    opacity: 0; } }

@-moz-keyframes gravity {
  to {
    transform: translateY(50px);
    -moz-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    opacity: 0; } }

@-o-keyframes gravity {
  to {
    transform: translateY(50px);
    -moz-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    opacity: 0; } }

@-ms-keyframes gravity {
  to {
    transform: translateY(50px);
    -moz-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    opacity: 0; } }

@keyframes gravity {
  to {
    transform: translateY(50px);
    -moz-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    opacity: 0; } }

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
